/* .page_container {} */

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    overflow-wrap: break-word;
}

:root {
    --pink_prm: rgb(236, 88, 138);
    --pink_sec: rgb(253, 176, 200);
    --background: rgb(122, 87, 93);
}

#sentModel {
    position: absolute;
    top: -60px;
    left: 96px;
    width: 200px;
    background-color: var(--background);
    color: white;
    text-align: center;
    display: none;
    z-index: 10;
}

.chat_window {
    max-width: 400px;
    border: 2px solid;
    border-radius: 10px;
    margin: 130px auto 0;
    background-color: rgb(255, 220, 234);
    padding: 10px;
    position: relative;
}

.chat_bar {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px var(--background) solid;
}

.dot_container {
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    padding-top: 3px;
    box-sizing: border-box;
    border: solid rgb(122, 87, 93) 1px;
    border-radius: 50%;
    color: var(--background);
    position: relative;
}

.dot_container:hover {
    background-color: var(--background);
    color: rgb(255, 231, 236);
    cursor: pointer;
}

.dot_menu {
    position: absolute;
    left: -71px;
    top: 35px;
    z-index: 100;
    width: 100px;
    height: 100px;
    background-color: var(--background);
}

.dot_menu>button {
    width: 100%;
}

.close_menu {
    display: none !important;
}

.message_container {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
}

.message_container>div {
    width: 150px;
    position: relative;
    padding: 10px 10px 20px 10px;
    border-radius: 3px;
}

.message_container>div>p {
    border-bottom: .1px solid white;
}

.message_container>div>span {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    right: 10px;
}

.sent_message_by_me {
    align-self: flex-end;
    background-color: var(--pink_prm);
}

.sent_message_by_them {
    align-self: flex-start;
    background-color: var(--pink_sec);
}

.input_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 5px;
}

.input_container>input {
    flex-grow: 1;
}

.input_container>button {
    background-color: var(--background);
    border: 1px solid black;
    border-radius: 3px;
    color: rgb(255, 231, 236);
}

.archive_container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 35vh;
    overflow-y: scroll;
    border: 1px solid rgb(255, 231, 236);
    border-radius: 3px;
    box-shadow: 0 0 10px rgb(245, 202, 212);
    position: fixed;
    right: 420px;
    top: 132px;
}

.archiveBtnContainer {
    align-self: flex-end;
}

.archive_container>div>h2,
.archive_container>div>p {
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--background);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--background);
}