
.all{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


button{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

p{
    font-size: 1.2rem;
    width: 500px;
}

