:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

#root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card>img {
    border-radius: 7px;
}

.card {
    color: white;
    border: .5px solid white;
    border-radius: 7px;
    margin: 10px;
    display: flex;
    flex: 0 0 10%;
    flex-direction: column;
    text-align: center;
}

.card:hover{
    box-shadow: 0 0 7px white;
}
